<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PowerBiUrl" value="https://api.powerbi.com/beta/e4a5cd36-e58f-4f98-8a1a-7a8e545fc65a/datasets/fdd35f45-854c-48b1-847b-1d0db62076cf/rows?key=C%2FnPcyGr4xDAHDmhgtX1AHEPtrU225NnQExPv%2FBOvPQowBDXQ674MFahutRyCpo0LZmo3BZerFvQE6M8UJ46XA%3D%3D" />
    <add key="DeviceConStr" value="HostName=FreeDeviceHub.azure-devices.net;DeviceId=hidroponik;SharedAccessKey=hXBSo7zmB/1sQWTFzZSUHnscEDwaNUpejHH4YFwSNnY=" />
    <add key="XBeePort" value="/dev/ttyUSB0" />
    <add key="MqttHost" value="110.35.82.86"></add>
    <add key="MqttUser" value="loradev_mqtt"/>
    <add key="MqttPass" value="test123"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
